* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #333;
	position: relative;
}

#main {
	overflow: hidden;
	width: 640px;
	height: 480px;
	background-color: black;
	outline: 1px solid white;
	position: absolute;
}

#main.spectator, #main.desktop {
	width: 800px;
	height: 600px;
	background-color: black;
	outline: 1px solid white;
	position: absolute;
}


canvas {
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}